<form class="content" (submit)="startTimer($event)">
  <h1 class="content__title">Timer</h1>

  <div class="content__progress">
    @if (totalSeconds() === currentValue()) {
      <div class="content__timer">00:00:00</div>
    } @else {
      <div class="content__timer">{{ formatTime(totalSeconds() - currentValue()) }}</div>
    }

    <round-progress
      [current]="currentValue()"
      [max]="totalSeconds()"
      [radius]="100"
      [stroke]="20"
      [color]="'#4caf50'"
      [background]="'#fff'"
    ></round-progress>
  </div>

  @if (totalSeconds() === currentValue()) {
    <div class="content__block-elements">
      <label class="content__label">
        hours
        <input
          type="number"
          [formField]="timerForm.hours"
          class="content__input"
          (input)="maskInput('hours', $event)"
        />
      </label>
      <label class="content__label">
        minutes
        <input
          type="number"
          [formField]="timerForm.minutes"
          class="content__input"
          (input)="maskInput('minutes', $event)"
        />
      </label>
      <label class="content__label">
        seconds
        <input
          type="number"
          [formField]="timerForm.seconds"
          class="content__input"
          (input)="maskInput('seconds', $event)"
        />
      </label>
    </div>
  } @else {
    <p>{{ formatTime(totalSeconds()) }}</p>
  }

  @if (totalSeconds() === currentValue()) {
    <button type="submit" class="content__btn start">Start</button>
  } @else {
    <div class="content__block-elements">
      <button type="button" class="content__btn stop" (click)="stopTimer()">Stop</button>
      @if (isRunning()) {
        <button type="button" class="content__btn pause" (click)="pauseTimer()">Pause</button>
      } @else {
        <button type="button" class="content__btn resume" (click)="resume()">Resume</button>
      }
    </div>
  }
</form>
