* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
  background-color: #282c35;
  color: #fff;
}
